@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --bgSite: #f6f6f6;
    --bgCard: #ebe9ea;
    
    --white: #fff;
  
    --title: #181818;
    --text: #474747;
}
  
  /*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: var(--bgSite);

    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 250px;
    height: 150px;
    margin: 70px 25px 10px 25px;
}

button, input {
    border: 0;
}

button:focus,
input:focus {
    border: 0;
}

.header-1 h3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    background-color: var(--title);
    color: var(--white);
    width: 100%;
    height: auto;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.header-2 h2{
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 15px;
    background-color: var(--bgSite);

    color: var(--title);
    width: 100%;
    height: auto;

    
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.header-3{
    height: 378px;
    background-image: url(img/wallpaper.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.header-efect{
    background-color: rgba(24, 24, 24, 0.61);
    height: 100%;
    
    display: flex;
    flex-direction: row;
    align-items: center
}

.text-header{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 6%;
    color: var(--bgSite);
    text-align: left;
    width: 630px;

}
#header-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

#header-text{
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 35.31px;
}

.first-div-main{
    display: flex;
    flex-direction: column;
    gap: 18px;
    text-align: center;
    padding: 70px 10px 0 10px;
    width: 100%;
    height: auto;
}

.title-main{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: var(--title);
}

.text-main{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: var(--text);
}

li{
    background-color: var(--bgCard);
    min-width: 300px;
    min-height: 300px;
}

/* SEÇÃO DE AMOSTRA */
.section{
    padding: 40px 50px;
    margin: 0;
    width: 100%;
}

.ol-div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    gap: 15px;
    padding-top: 40px;
}

.footer{
    position: sticky;
    top: 100%;
    width: 100%;
    background-color: var(--title);
    color: var(--white);
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 20px;
} 
